td, th{
    padding: 5px 0px;
}

table, td,th{
    /* border: 1px solid black; */
    border-collapse: collapse;
    padding: 1em;
}

#quantity,#quantityOfShrts{
    display: inline-block;
}

button{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 0.4em;    
}

button:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}

#Calculate,h1{
    margin: 1em;
}

#calculatedAmount ul ,p{
    list-style-type:none;
    padding: 1em;
}



#subTotal, #tax, #total{
    display: inline-block;
}
